.container{
    height: 100%;
    color: red;
    display: grid;
    align-items: center;
    justify-items: center;
}

.title{
    color: #ffffff;
    width: 100%;
    padding-bottom: 20%;
    padding-top: 10%;
}

.video-box{
    color: #363636;
    background-color: #ffffff;
    width: 80%;
    max-width: 50%;
    border-radius: 12px;
    box-shadow: 0vh 1vh 1vh rgb(18 18 18 / 20%);
    margin: 0 auto;
    padding: 4vh;
}

.video-box div:nth-of-type(1) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.video-box div:nth-of-type(2) {
    margin: 3vh 0;
    display: flex;
}

.video-box input[type="text"] {
    color: #7e7e7e;
    background-color: #fafafa;
    width: 82%;
    border: 1px #e2e2e2 solid;
    padding: 0 1%;
    outline: none;
    box-sizing: border-box;
}

.video-box input {
    font-family: Arial, sans-serif;
    font-size: 2.5vh;
    height: 7vh;
    border-radius: 6px;
}

#convert-button {
    color: #ffffff;
    background-color: #121212;
    font-weight: normal;
    width: 30%;
    border-radius: 1vh;
    margin-left: 3%;
    padding: 0;
    cursor: pointer;
    appearance: none;
}

#text {
    max-width: 90vh;
    margin: 10vh auto;
}

div {
    display: block;
}



body {
    background-color: #fafafa;
    background-image: linear-gradient(#121212 240px, #fafafa 240px);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

#text h1 {
    color: #363636;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#text p {
    color: #494949;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin: 14px 0 0 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 375px){
    #convert-button {
        font-size: 1.5vh;
    }

    .video-box input {
        font-family: Arial, sans-serif;
        font-size: 1.5vh;
        height: 6vh;
        border-radius: 1vh;
    }

    #text p {
        margin: 5vh 3vh 3vh 3vh;
    }

    .video-box{
        max-width: 70%;
    }

    .title{
        padding-top: 20%;
    }
}